{{ define "footer" }}
<section id="contact">

    <h4 class="text-center heading-medium">İletişim</h4>

    <div class="social-medya">

        <div class="GitHub">
            <a href="https://github.com/Berkay-Aykose" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>

        <div class="mail">
            <a href="#" target="_blank"><i class="fa-solid fa-envelope"></i></a>
        </div>

        <div class="linkedin">
            <a href="https://www.linkedin.com/in/berkay-veysel-ayk%C3%B6se-84bb4a249/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
   
    </div>
</section>
{{ end }}